<div class="app-estudiantes w-full flex flex-col items-start justify-start p-5">
    <div class="linker-head w-full flex items-start justify-start">
        <p class="font-bold"><a routerLink="/app/dashboard"><span>INICIO /</span></a> ESTUDIANTES</p>
    </div>
    <div class="title-head w-full text-center my-8">
        <h1 class="font-bold">LISTA DE ESTUDIANTES</h1>
    </div>
    <div class="filter-cont w-full flex items-center justify-evenly">
        <div class="flex items-center justify-center w-1/3">
            <p class="px-4">Filtrar por: </p>
            <tui-tag
                size="l"
                class="tui-space_left-1"
                value="NOMBRES"
            ></tui-tag>
        </div>
        <div class="w-1/3 flex items-center justify-center">
            <tui-input class="w-80">
                Filtrar...
                <input tuiTextfield />
            </tui-input>
        </div>
        <div class="w-1/3 flex items-center justify-center">
            <button
                appearance="primary"
                tuiButton
                type="button"
                class="tui-space_right-3 tui-space_bottom-3 w-36"
            >
                + Nuevo
            </button>
        </div>
    </div>
    <div class="table-app flex w-full items-center justify-center my-10">
        <table tuiTable class="table">
            <thead>
              <tr tuiThGroup>
                <th tuiTh>DNI</th>
                <th tuiTh>NOMBRES</th>
                <th tuiTh>APELLIDOS</th>
                <th tuiTh>EDAD</th>
                <th tuiTh>FECHA NACIMIENTO</th>
                <th tuiTh>CELULAR</th>
                <th tuiTh>DIRECCIÓN</th>
              </tr>
            </thead>
            <tbody tuiTbody>
              <tr *ngFor="let item of dataStudents; let i = index" tuiTrGroup>
                <td tuiTd>{{ item.DNI }}</td>
                <td tuiTd>{{ item.NOMBRES }}</td>
                <td tuiTd>{{ item.APELLIDOS }}</td>
                <td tuiTd>{{ item.EDAD }}</td>
                <td tuiTd>{{ item.FECHA_NACIMIENTO }}</td>
                <td tuiTd>{{ item.CELULAR }}</td>
                <td tuiTd>{{ item.DIRECCION }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination w-full flex items-center justify-around">
        <p>1/6 Total: 56</p>
        <tui-pagination
            [index]="index"
            [length]="length"
            (indexChange)="goToPage($event)"
        ></tui-pagination>
    </div>
</div>
