*{
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
.title-head{
    font-size: 1.5rem;
}
span{
    color: #6C86E2;
}
td{
    text-align: center;
}
.linker-head p, .linker-head p span{
    font-family: 'Oswald', sans-serif;
    font-size: .9rem;
}
a{
    cursor: pointer;
    &:hover span{
        text-decoration: underline;
    }
}
.app-estudiantes{
    height: calc(100vh - 80px);
    overflow: auto;
}

/* SCROLLBAR */
/* Estilo del Track (fondo de la barra de desplazamiento) */
::-webkit-scrollbar {
    width: 8px;
  }
    
  /* Estilo del Track (fondo de la barra de desplazamiento) */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Puedes cambiar el color de fondo según tus preferencias */
  }
    
  /* Estilo del Handle (la parte móvil de la barra de desplazamiento) */
  ::-webkit-scrollbar-thumb {
    background-color: #b6b6b6; /* Puedes cambiar el color según tus preferencias */
    border-radius: 6px; /* Puedes ajustar el radio de borde según tus preferencias */
  }
    
  /* Estilo del Handle cuando está en hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #848484; /* Puedes cambiar el color de hover según tus preferencias */
  }

.pag-data{
    color: #6C86E2;
    font-weight: bold;
}