<div class="w-full flex items-center justify-around px-2 py-1" style="height: 80px;">
    <div class="w-32">
        <img src="../../../assets/img/Logo Academia SF.png" alt="" class="w-full">
    </div>
    <div class="flex items-center justify-center">
        <a href="" class="font-medium px-4">CORREO &nbsp;<i class="fi fi-rr-envelope"></i></a><span class="line"></span>
        <a href="" class="font-medium px-4">FACEBOOK &nbsp;<i class="fi fi-brands-facebook"></i></a><span class="line"></span>
        <a href="" class="font-medium px-4">WHATSAPP &nbsp;<i class="fi fi-brands-whatsapp"></i></a>
    </div>
    <div class="flex items-center justify-center h-20">
        <div class="contact-number flex items-center justify-center h-10 w-36">
            <p class="flex items-center justify-center"><b>931 975 770 &nbsp;</b><i class="fi fi-rr-phone-call flex items-center"></i></p>
        </div>
        <span class="">|</span>
        <div class="px-4">
            <img src="../../../assets/img/Recurso 3.png" alt="" class="w-10">
            <!-- <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1200px-Starbucks_Corporation_Logo_2011.svg.png" alt="" class="w-10"> -->
        </div>
        <div class="name-user font-medium">Jak Campos</div>
    </div>
</div>