<div class="app-login w-full flex items-start justify-center" style="height: 100vh;">
    <div class="logo-first flex items-center justify-center">
        <img src="../../../assets/img/Logo Academia SF.png" alt="" class="">
    </div>
    <div class="contenido-login flex flex-col items-center justify-center">
        <div class="titulo-login w-full text-center pb-5 pt-5">
            <h2 class="pb-5 pt-5">Servicios educativos</h2>
            <h1 class="pb-5">The Number One</h1>
            <!-- <tui-notification
            status="error"
            [hasIcon]="true"
            (close)="true"
            >
            Some content
            </tui-notification> -->
        </div>
        <div class="form-login w-72 pb-10" [formGroup]="loginForm">
            <tui-input class="pb-5" formControlName="usuario">
                Ingrese su usuario
                <input tuiTextfield />
            </tui-input>
            <tui-input-password formControlName="contraseña">Ingrese su contraseña</tui-input-password>
        </div>
        <button class="w-60 p-2 font-bold rounded-lg" style="background-color: #0A2453; color: white;" (click)="logIn()">Iniciar Sesión</button>
    </div>
</div>