<div class="app-login w-full block items-start justify-center sm:flex sm:items-start sm:justify-center" style="height: 100vh;">
    <div class="logo-first flex items-center justify-center">
        <img src="../../../assets/img/Logo Academia SF.png" alt="" class="">
    </div>
    <div class="contenido-login flex flex-col items-center justify-center">
        <div class="titulo-login w-full text-center pb-5 pt-5 text-sm">
            <h2 class="text-base sm:text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl font-semibold mb-4">Servicios educativos</h2>
            <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold mb-4">The Number One</h1>
            <!-- <tui-notification
            status="error"
            [hasIcon]="true"
            (close)="true"
            >
            Some content
            </tui-notification> -->
        </div>
        <div class="form-login w-72 pb-10" [formGroup]="loginForm">
            <tui-input class="pb-5" formControlName="usuario">
                Ingrese su usuario
                <input tuiTextfield />
            </tui-input>
            <tui-input-password formControlName="contraseña">Ingrese su contraseña</tui-input-password>
        </div>
        <button class="w-60 p-2 font-bold rounded-lg" style="background-color: #0A2453; color: white;" (click)="logIn()">Iniciar Sesión</button>
    </div>
</div>